<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Car!</title>
  </head>

  <body>
    <h1>Add Your Favorite Cars!</h1>
    <form action="/cars" method="POST">
      <label for="year">Year:</label>
      <input type="text" name="year" id="year" />

      <label for="make">Make:</label>
      <select id="make" name="make">
        <option value="">-- Select a Manufacturer --</option>
        <option value="acura">Acura</option>
        <option value="alfa-romeo">Alfa Romeo</option>
        <option value="aston-martin">Aston Martin</option>
        <option value="audi">Audi</option>
        <option value="bentley">Bentley</option>
        <option value="bmw">BMW</option>
        <option value="bugatti">Bugatti</option>
        <option value="buick">Buick</option>
        <option value="cadillac">Cadillac</option>
        <option value="chevrolet">Chevrolet</option>
        <option value="chrysler">Chrysler</option>
        <option value="citroen">Citroën</option>
        <option value="dacia">Dacia</option>
        <option value="daewoo">Daewoo</option>
        <option value="daihatsu">Daihatsu</option>
        <option value="dodge">Dodge</option>
        <option value="ferrari">Ferrari</option>
        <option value="fiat">Fiat</option>
        <option value="ford">Ford</option>
        <option value="genesis">Genesis</option>
        <option value="gmc">GMC</option>
        <option value="honda">Honda</option>
        <option value="hyundai">Hyundai</option>
        <option value="infiniti">Infiniti</option>
        <option value="isuzu">Isuzu</option>
        <option value="jaguar">Jaguar</option>
        <option value="jeep">Jeep</option>
        <option value="kia">Kia</option>
        <option value="koenigsegg">Koenigsegg</option>
        <option value="lamborghini">Lamborghini</option>
        <option value="land-rover">Land Rover</option>
        <option value="lexus">Lexus</option>
        <option value="lincoln">Lincoln</option>
        <option value="lotus">Lotus</option>
        <option value="maserati">Maserati</option>
        <option value="mazda">Mazda</option>
        <option value="mclaren">McLaren</option>
        <option value="mercedes-benz">Mercedes-Benz</option>
        <option value="mini">MINI</option>
        <option value="mitsubishi">Mitsubishi</option>
        <option value="nissan">Nissan</option>
        <option value="pagani">Pagani</option>
        <option value="peugeot">Peugeot</option>
        <option value="porsche">Porsche</option>
        <option value="ram">Ram</option>
        <option value="renault">Renault</option>
        <option value="rolls-royce">Rolls-Royce</option>
        <option value="saab">Saab</option>
        <option value="subaru">Subaru</option>
        <option value="suzuki">Suzuki</option>
        <option value="tesla">Tesla</option>
        <option value="toyota">Toyota</option>
        <option value="volkswagen">Volkswagen</option>
        <option value="volvo">Volvo</option>
      </select>

      <label for="model">Model:</label>
      <input type="text" name="model" id="model" />

      <button type="submit">Add Car</button>
    </form>
  </body>
</html>
